.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  margin-block-start: 1.6rem;
  h1 {
    text-align: center;
    color: $Very-Dark-Magenta;
    padding-inline: 1rem;
    margin-block-end: 1rem;
    font-weight: 700;
  }
  p.first-para {
    text-align: center;
    color: $Dark-Grayish-Magenta;
  }
}
.star_blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 0.4rem;
  background-color: $Light-Grayish-Magenta;
  // padding: 0.2rem 1rem;
  p i {
    color: orange;
  }
  p {
    color: $Very-Dark-Magenta;
    font-weight: 500;
  }
  .star {
    display: flex;
    gap: 0 0.3rem;
    margin-block: 0.5rem;
    padding: 0.4rem;
  }
}
.card {
  background-color: $Very-Dark-Magenta;
  margin-block: 1rem;
  margin-inline: 2rem;
  padding: 1.8rem;
  border-radius: 10px;
  &_info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 1rem;
    margin-block-end: 1rem;
    p {
      color: $Light-Grayish-Magenta;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      span {
        color: $Soft-Pink;
        font-size: 15px;
      }
    }
    img {
      width: 40px;
      border-radius: 50%;
    }
  }

  p {
    color: $Light-Grayish-Magenta;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
  }
  .header {
    margin-inline: 0rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    &_description {
      width: 30%;
      // padding: 2rem;
      h1 {
        text-align: start;
        font-size: 2.3rem;
        font-weight: 900;
      }
      p.first-para {
        text-align: start;
        font-weight: 600;
      }
    }
  }
  .star {
    display: flex;
    gap: 0 0.3rem;
    padding: 0.4rem;
  }
  .star_blog.two {
    margin-inline-start: 3rem;
  }
  .star_blog.three {
    margin-inline-start: 5rem;
  }

  .card-part {
    width: 80%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-inline: 1rem;
    width: 320px;
    margin-block-start: 2rem;
  }
  .card.two {
    margin-block-start: 5rem;
  }
  .card.three {
    margin-block-start: 8rem;
  }
}
