$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

@font-face {
  font-family: "League";
  src: url(../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
  font-family: 400 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 160svh;
  font-family: "league";
  display: flex;
  justify-content: center;
  align-items: start;
}
